body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em; /* Uniformise les marges */
}

h2 {
    font-size: 1.5em;
    color: #1e8e8f; /* Augmente le contraste avec une teinte légèrement plus sombre */
    margin-bottom: 0.75em; /* Uniformise les marges */
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5em; /* Uniformise les marges */
}

.profile-section, .contacts-section, .skills-section, .languages-section, .experience-card, .education-section, .interests-section {
    background: rgba(255, 255, 255, 0.9); /* Réduit l'opacité pour une meilleure lisibilité */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem; /* Uniformise les marges */
    padding: 1.5rem; /* Uniformise les espacements */
    backdrop-filter: blur(8px); /* Réduit le flou pour moins de distraction */
    border: 1px solid rgba(255, 255, 255, 0.7); /* Réduit l'opacité de la bordure */
}

.profile-section p, .contacts-section p, .skills-section p, .languages-section p, .experience-card p, .education-section p, .interests-section p {
    margin: 0;
}

.contacts-section i, .skills-section i, .languages-section i {
    margin-right: 10px;
    color: #1e8e8f; /* Augmente le contraste pour les icônes */
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

.container {
    max-width: 960px;
}

p a {
    color: #1e8e8f; /* Augmente le contraste avec une teinte légèrement plus sombre */
    text-decoration: none;
}

.header-section img {
    width: 150px;
    height: 150px;
}

.header-section h1, .header-section h2 {
    margin: 0;
}

.experience-card {
    margin-bottom: 1.5rem; /* Uniformise les marges */
}

.experience-card p.date {
    font-style: italic; /* Utiliser l'italique pour distinguer les dates */
    color: #666; /* Une couleur plus douce pour moins d'impact visuel */
    margin-bottom: 1rem; /* Espacement uniforme */
}

.contacts-section i {
    color: #1e8e8f; /* Augmente le contraste pour les icônes */
}

.technologies-used {
    margin-top: 1rem; /* Uniformise les marges */
}

.tech-btn {
    display: inline-block;
    background-color: #e0f7fa;
    color: #004d40; /* Augmente le contraste pour le texte */
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
}

.tech-btn:hover {
    background-color: #004d40; /* Augmente le contraste pour le survol */
    color: #ffffff;
    cursor: pointer;
}
