body {
    margin: 0;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: radial-gradient(circle at top left, #037579  0%, #070d33 50%);
    color: white;
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
.container{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
}
.text-container {
    width: 100vw;
    position: relative;
    margin-top: 100px;
    margin-left: 80px;
    height: 160px;
    overflow: hidden;
}

.text-slide {
    position: absolute;
    left: 0;
    opacity: 0;
    animation: slideAnimation 12s infinite;
    font-size: 2.5em;
    margin: 0;
}
.text-slide h4{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-slide:nth-child(1) {
    animation-delay: 0s;
}

.text-slide:nth-child(2) {
    animation-delay: 4s;
}

.text-slide:nth-child(3) {
    animation-delay: 8s;
}

@keyframes slideAnimation {
    0%, 25% {
        opacity: 0;
        transform: translateY(-100%);
    }
    30%, 45% {
        opacity: 1;
        transform: translateY(0);
    }
    50%, 100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
.start-button {
    margin-top: 10px;
    margin-left: 80px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #1c89ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}
